---
type: svar
dato: 2025-04-08
id: korrespondance-1-3
korrespondance_id: korrespondance-1
person_id: sigurd
titel:  Korrespondance &#35;1.3
udgivet: nej
---
<div class="text-[10px] sm:text-xs md:text-sm lg:text-base">
Beklager.<br/><br/>
Vi skød din himmel ned.<br/><br/>
Og sank sammen<br/><br/>
I rederne, andres.<br/><br/><br/>

Kviste over grene og mos på jord,<br/><br/>
Ved vi ikke hvem der har lagt dem?<br/><br/>
Men vi modtager heee-er<br/><br/>
Ved det stråtækte bord.
</div>