---
type: svar
dato: 2025-05-19
id: korrespondance-1-5
korrespondance_id: korrespondance-1
kunstner_id: sigurd
titel: Korrespondance &#35;1.5
udgivet: ja
---
<div class="text-[10px] sm:text-xs md:text-sm lg:text-base">
Men hvad nu med fuglen i hånden? Sku’ det da være en skade?<br/><br/>

Arbejder fuglen i hånden<br/>
er den ør af omsorg nu<br/>
er den tør for piller fra hånden<br/>
Er fuglen enlig mor på dobbeltjobs for hånden nu<br/><br/>

nu-nu mærker du en vrede?
</div>
