---
type: svar
dato: 2025-06-17
id: korrespondance-1-7
korrespondance_id: korrespondance-1
kunstner_id: sigurd
titel: Korrespondance &#35;1.7
udgivet: nej
---
<div class="text-[10px] sm:text-xs md:text-sm lg:text-base">
Skrev jeg et brev som et herbarium med stilke og kløver kastanjelys på femfingerblade nåle kørvel hyld og en åkande,<br/>
var det en samling jeg delte med sygeplejeren    vi sår    frøet spreder mellem etager for arbejde som ikke betaler
</div>
