---
titel: Bøvlet
dato: 2026-08-21
kunstner_id: jonasreppel
uddrag: 
udgivet: nej
layout: nyopslag.vto
sang: Laugh ‘n’ A 1/2 af D-A-D
---
{{ comp Indholdskasse }}
  {{ comp Indholdskassehoved }}
    {{ comp Indholdskassetitel }}
      {{ titel }}
    {{ /comp }}
    {{ comp Indholdskassesubtitel }}
      <time>{{ dato |> date("HUMAN_DATE", "da") }}</time>
    {{ /comp }}
  {{ /comp }}
  {{ comp Indholdskasseindhold }}
  <div class="py-6 grid text-xs sm:text-sm md:text-base md:grid-cols-2">
    <div class="col-span-1">
    </div>
    <div class="col-span-1 mb-72">
      30. december 2025<br/><br/>

      Som om en mørk flod der lå<br/>
      og åndede under mig<br/><br/>

      og selvom du lod mig gå rundt på dit arbejde<br/>
      og først kom hjem kl. 18.00<br/><br/>

      og efterlod det med hele tiden<br/>
      at skulle arbejde i mine knogler<br/><br/>

      så var det bedre at være sammen med de<br/>
      spor du efterlod<br/><br/>

      end dem din datters mænd gjorde<br/><br/>

      kan du høre min tinitus<br/>
      det er englene<br/>
      der synger i mine ører
    </div>
    <div class="col-span-1 mb-72">
      31. august 2025<br/><br/>

      Da jeg slog hånden af min mor og far<br/>
      blev de endnu mere nærværende<br/>
      som om de sad bag hver en sætning<br/>
      jeg skrev<br/><br/>

      og den udsathed<br/>
      som de har udsat mig for<br/><br/>

      forstod jeg<br/>
      at også de var udsat for<br/><br/>

      og så blev jeg vred på klasseskelene<br/>
      de alt for rige<br/><br/>

      og nu er jeg kun sammen<br/>
      med dem når jeg skriver<br/>
      og de er også rigtigt<br/>
      mere end rigeligt
    </div>
    <div class="col-span-1">
    </div>
    <div class="col-span-1">
    </div>
    <div class="col-span-1">
      21. august 2026<br/><br/>

      Et øjeblik <br/>
      lukkede jeg øjnene <br/>
      i sofaen <br/>
      lænede hovedet <br/>
      tilbage <br/>
      og hørte <br/>
      mine børns stemmer forsvinde <br/>
      og pludselig tog jeg<br/>
      min fars ansigt på <br/>
      og var<br/>
      som han <br/>
      altid har været det <br/>
      væk<br/><br/>

      Og så var jeg igen det barn <br/>
      min far engang forlod <br/>
      ikke engang voksen endnu <br/>
      det bliver jeg ikke <br/>
      før han svarer tilbage <br/>
      på min Facebook på besked <br/>
      det startede med min mor <br/>
      og jeg bankede på<br/>
      hans dør<br/>
      da jeg var fem
    </div>
  </div>
  {{ /comp }}
{{ /comp }}
