---
id: freeparty
titel: Free Party
hurtigtekst: – pick up your dress/ it’s time to run
udgivet: ja
---
Free Party er et band fra Leeds. Efter at have udgivet et par singler siden 2022, kommer de nu med en serie af singler startende med Anniversary og senest denne, Dudley. Joe Cook har lavet grafisk kunst til, som også ses her. Tjek dem ud på din streaming platform! 
