---
id: jonasreppel
titel: Jonas Reppel
hurtigtekst:
udgivet: nej
sang: Laugh 'n' A 1/2 af D-A-D
---
Jonas Reppel (f. 1986) har udgivet digtsamlingerne <i>Farfedt</i> (2022) og <i>Spædgry</i> (2025) på forlaget Antipyrine. Han har gået på Skrivekreds i Nordvest og Dramatisk Laboratorium. Som forfatter har han modtaget arbejdslegat fra De Skønlitterære Forfatteres Forening og Statens Kunstfond. Jonas vandt publikumsprisen ved sin dramatiske debut på Teater V og essaykonkurrencen hos Solidaritet. Hans digtsamling <i>Farfedt</i> blev desuden nomineret til Lars Bukdahls Bet.  
