---
id: krogslev
titel: Krogslev
hurtigtekst:
udgivet: ja
gif: ja
---
Krogslevkrogselvkrogslevkrogslevkrogslev<br/><br/>

Julius Sort er særligt glad for affaldssortering og Ariana Grande. Claudia Serritslev er afhængig af Kakaomælk og sovebamsen Vax. <br/><br/>

Krogslev er deres fælles projekt.