---
id: siham
titel: Zahna Siham Benamor
hurtigtekst: Jeg er usikker på hvordan man erindrer, men jeg så mig selv som en genstand når jeg skrev denne tekst & tiden er måske ikke så stor en satan længere for andres blik er lidt længere væk.
udgivet: ja
---
Jeg er usikker på hvordan man erindrer, men jeg så mig selv som en genstand når jeg skrev denne tekst & tiden er måske ikke så stor en satan længere for andres blik er lidt længere væk.
