---
id: albert
fornavn: Albert
efternavn: Gjerris
titel: Albert Gjerris
hurtigtekst: i er ridserne i alberts brystkød, han er et sted inde mellem knapperne på sin nokia
udgivet: nej
---
i er ridserne i alberts brystkød, han er et sted inde mellem knapperne på sin nokia