---
layout: layout.vto
---
<main class="mb-12 grid grid-cols-1 gap-8">
{{ comp Broedkrummer }}
  {{ comp Broedkrumme }}
    Udledning
  {{ /comp }}
{{ /comp }}

<article>
  {{ comp Indholdskasse }}
    {{ comp Indholdskassehoved }}
      {{ comp Indholdskassetitel }}
        Udledning
      {{ /comp }}
    {{ /comp }}
    {{ comp Indholdskasseindhold }}
Vi udleder co2
    {{ /comp }}
  {{ /comp }}
</article>
</main>
