<nav class="font-mono text-sm">
  <div class="flex items-center gap-2">
    <a href="/" class="text-zinc-700 hover:underline hover:text-violet-800 transition-colors">postpost</a>
    {{ content }}
  </div>
</nav>