<p class="line-clamp-1 border-violet-700 border-t-[3px] border-b-[3px] inline-block text-transparent my-4 linjelinjelinjelinje">
	postpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpost
</p>