<div class="flex justify-center">
	<p class="font-serif leading-[0.7em] max-w-64 md:max-w-md line-clamp-1 border-black border-t-[1.5px] text-xs border-b-[1.5px] inline-block">
		postpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpost
	</p>
</div>
