<div class="flex justify-center">
	<p class="max-w-sm line-clamp-1 border-black border-t-[2px] text-xs border-b-[2px] inline-block">
		postpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpostpost
	</p>
</div>
